.avatar {
  overflow: hidden;

  background-color: red;

  &--circle {
    border-radius: var(--radius-full);
  }

  &--square {
    border-radius: var(--radius-m);
  }

  &--small {
    width: var(--icon-size-m);
    height: var(--icon-size-m);
  }

  &--medium {
    width: var(--icon-size-l);
    height: var(--icon-size-l);
  }

  &--large {
    width: var(--icon-size-xl);
    height: var(--icon-size-xl);
  }

  &__container {
    &-image {
      & img {
        width: fit-content;
        height: fit-content;
        display: block;
        margin: 0;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
