@use "@/styles/tokens/typography" as t;

.avatar-group {
  width: fit-content;

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xxs);

    &-preview {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &--spaced {
        gap: var(--gap-xxs);
      }

      &--overlap > * {
        box-shadow: var(--shadow-drop-200);

        &:not(:first-child) {
          margin-left: var(--gap-negative-xs);
        }
      }
    }

    &-hidden {
      @include t.body-small;

      padding: var(--padding-xxs);
      overflow: hidden;
      white-space: nowrap;
      color: var(--color-text-base-secondary);
    }
  }
}
