.avatar-group {
  background-color: red;

  &--spaced {
    background-color: red;
  }

  &--overlapped {
    background-color: red;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &-preview {
      background-color: red;
    }

    &-hidden {
      background-color: red;
    }
  }
}
