:root {
  /* =====================================================
     LAYOUT TOKENS
  ===================================================== */

  /* Sizes */
  --app-header-mobile-height: 50px;
  --app-header-desktop-height: 84px;
  --app-footer-mobile-height: 50px;
  --app-footer-desktop-height: 84px;

  /* Max width */
  --app-max-width: 1200px;
}
