:root {
  /* ========================================
   * Primitives
   * ====================================== */

  /* Font family */
  --font-family-sans:
    var(--font-inter), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
  --font-family-serif: var(--font-noto-serif), Georgia, "Times New Roman", serif;
  --font-family-mono:
    var(--font-roboto-mono), "SFMono-Regular", Consolas, "Liberation Mono", monospace;

  /* Sizes */
  --font-size-01: 12px;
  --font-size-02: 14px;
  --font-size-03: 16px;
  --font-size-04: 20px;
  --font-size-05: 24px;
  --font-size-06: 32px;
  --font-size-07: 40px;
  --font-size-08: 482px;
  --font-size-09: 64px;
  --font-size-10: 72px;
}

/* -----------------------------
 * Typography mixins
 * ----------------------------- */

/* Headings */
@mixin heading-1 {
  font-family: var(--font-1);
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
}
@mixin heading-2 {
  font-family: var(--font-1);
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}
@mixin heading-3 {
  font-family: var(--font-1);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
}

/* Paragraphs */
@mixin paragraph-1 {
  font-family: var(--font-1);
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
}
@mixin paragraph-2 {
  font-family: var(--font-1);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
}
@mixin paragraph-3 {
  font-family: var(--font-1);
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
}

/* Labels */
@mixin label-1 {
  font-family: var(--font-2);
  font-size: 16px;
  // Different from Figma: avoid bad alignment since all labels are on single lines
  line-height: 1;
  font-weight: 600;
}
@mixin label-2 {
  font-family: var(--font-2);
  font-size: 12px;
  // Different from Figma: avoid bad alignment since all labels are on single lines
  line-height: 1;
  font-weight: 600;
}
