.icon-wrapper {
  &__icon {
    color: currentColor;
    display: inline-block;
    flex-shrink: 0;

    &--xs {
      width: var(--icon-size-xs);
      height: var(--icon-size-xs);
    }

    &--s {
      width: var(--icon-size-s);
      height: var(--icon-size-s);
    }

    &--m {
      width: var(--icon-size-m);
      height: var(--icon-size-m);
    }

    &--l {
      width: var(--icon-size-l);
      height: var(--icon-size-l);
    }

    &--xl {
      width: var(--icon-size-xl);
      height: var(--icon-size-xl);
    }

    &--xxl {
      width: var(--icon-size-xxl);
      height: var(--icon-size-xxl);
    }
  }
}
