.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: var(--padding-xl);

  background-color: var(--color-background-base);
  box-shadow: var(--shadow-drop-100);

  &__logo {
    height: 45px;
    width: auto;

    @media (min-width: 768px) {
      height: 51px;
    }
  }
}
