.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: var(--padding-xl);
  background-color: var(--color-background-neutral);

  &__text {
    color: var(--color-text-on-neutral);
  }
}
